@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    padding: 20px;

}

/* left box */

.left-box-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    overflow: hidden;
    height: 100vh;
    border-right: 1px solid #d7d6d6;
    z-index: 9000;
}

.left-box-row {
    padding: 10px;
    height: 100vh;
}

.logo-main {
    display: block;
    width: 120px;
}

.navbar-icon {
    font-size: 25px;
}

.navbar-title {
    font-size: 16px;
}

#navbar-logo-small {
    display: none;
}

.left-box-middle-inner {
    padding: 2px 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 15px;
    /* font-size: 18px; */
    border-radius: 5px;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.left-box-middle-inner:hover {
    background-color: #e4e4e4;
}

.left-box-middle-inner-logo {
    padding: 2px 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 15px;
    /* font-size: 18px; */
    border-radius: 5px;
    transition: .3s ease-in-out;
}

.show-more-button {
    cursor: pointer;
}

/* more option */

.more-option-container {
    display: none !important;
    position: absolute;
    bottom: 60px;
    left: 10px;
    background-color: rgb(244, 243, 243);
    width: 90%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #c3c3c3;
    transition: .3s ease-in-out;
    background-color: #f5f5f5;
}

.more-option-inner {
    background-color: #ffffff;
    border-radius: 10px;
}

.more-row {
    padding: 10px 10px;
    border-radius: 5px;
    transition: .3s ease-in-out;
    font-size: 16px;
    cursor: pointer;
}

.more-row:hover {
    background-color: #e4e4e4;
}

.more-right {
    color: #aaaaaa;
    display: none;
    transition: .3s ease-in-out;
    cursor: pointer;
}

#thread-box:hover .more-right {
    display: block;
}


/* mobile top navbar */
.nav-mobile-top-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #dcdcdc;
}

.nav-top-left-logo-box img {
    width: 120px;
}

.nav-top-right-search-box {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

.nav-top-right-search-box-inner {
    background-color: #ededed;
    border-radius: 5px;
    padding: 2px 10px;
    color: #959595;
    width: 400px;
}

.nav-top-right-search-box-inner input {
    border: none;
    outline: none;
    background: transparent;
    width: 80%;
}

.nav-top-right-search-box-inner i {
    width: 10%;
}

.nav-top-right-like i {
    font-size: 25px;
}

/* mobile bottom navbar */
.nav-mobile-bottom-container {
    display: none;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}

.nav-mobile-bottom-box i {
    font-size: 25px;
}

/* duplicate row */
.duplicate-box-container {
    width: 20%;
}


/* middle box */
.middle-box-container {
    width: 50%;
    overflow: hidden;
}

.middle-box-row {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}

.status-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.middle-status-container {
    text-align: center;
    cursor: pointer;
}

.status-image-container {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    background: linear-gradient(45deg, #ffff00, #fe04fe);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.user-image-status {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ffffff;
}

.status-username h6 {
    padding-top: 5px;
    font-size: 12px;
    text-transform: lowercase;
}

.post-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 40px;
}

.post-box-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top-post-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-details-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}


.profile-picture-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(45deg, #ffff00, #fe04fe);
    overflow: hidden;
    cursor: pointer;
}

.profile-picture-image {
    width: 47px;
    height: 47px;
    object-fit: cover;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.profile-username-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-username-name {
    font-size: 14px;
    font-weight: 600;
}

.profile-username-description {
    font-size: 12px;
}

.middle-post-box {
    border-radius: 5px;
    overflow: hidden;

}

.middle-post-box img {
    width: 100%;
}

.bottom-post-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 5px;
}

.bottom-post-like {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.bottom-post-like-left {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.like-action {
    font-size: 25px;
    transition: .3s ease-in-out;
}

.like-action:hover {
    color: #aaaaaa;
}

.bottom-post-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #aaaaaa;
}

.bottom-post-comment input {
    border: none;
    outline: none;
    font-size: 12px;
    width: 95%;
}

.bottom-post-description h5 {
    font-size: 14px;
    font-weight: 700;
}

.bottom-post-description h6 {
    font-size: 12px;
    font-weight: 600;
    text-align: justify;
}

#show-less-post-description,
#show-more-post-description {
    cursor: pointer;
}

#remaining-description-text {
    display: none;
    transition: .3s ease-in-out;
}

.font-gray {
    color: #aaaaaa;
    font-size: 12px;
}

.fa-face-smile {
    font-size: 12px;
    color: #aaaaaa;
    transition: .3s ease-in-out;
}

.fa-face-smile:hover {
    color: #dcdcdc;
}

/* all caught up message */
.post-end-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.all-up-caught {
    font-size: 50px;
    color: purple;
}

.middle-end-post-box {
    text-align: center;
}

.middle-end-post-box h5 {
    font-size: 16px;
    font-weight: 700;
}

.middle-end-post-box h6 {
    font-size: 12px;
    font-weight: 500;
    color: #959595;
}





/* right box */
.right-box-container {
    width: 30%;
    overflow: hidden;
}

.right-box-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.right-box-user-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    align-items: center;
}

.user-container-left {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.right-user-image {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background: linear-gradient(45deg, #ffff00, #fe04fe);
}

.right-user-image img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border: 1px solid #ffffff;
    border-radius: 50%;

}

.right-user-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-user-name span {
    font-size: 12px;
}

#username-right {
    font-weight: 600;
    font-size: 14px;
}

.right-profile-action {
    font-size: 12px;
    color: rgb(3, 120, 183);
    cursor: pointer;
}

.footer-right-box h6 {
    font-size: 12px;
    color: #aaaaaa;
    text-align: center;
}

.blue-check {
    color: rgb(0, 106, 255);
}

.follow-button {
    transition: .3s ease-in-out;
}

.follow-button:hover {
    color: rgb(0, 0, 102);
}



/* responsive */

@media only screen and (max-height: 700px) {
    #threads-nav-icon {
        display: none;
    }
}

@media only screen and (max-width: 1263px) {
    .navbar-title {
        display: none;
    }

    #navbar-logo-small {
        display: block;
        font-size: 25px;
    }

    .logo-main {
        display: none;
    }

    .left-box-container {
        width: 70px;
    }

    .duplicate-box-container {
        width: 70px;
    }

    .middle-box-container {
        width: 60%;
    }

}

@media only screen and (max-width: 1160px) {
    .right-box-container {
        display: none;
    }

    .middle-box-container {
        width: 80vw;
    }

    .duplicate-box-container {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    body {
        padding: 0;
    }

    .left-box-container {
        display: none;
    }

    .middle-box-container {
        margin: 70px 0;
        width: 100vw;
    }

    .duplicate-box-container {
        display: none;
    }

    .nav-mobile-top-container {
        display: block;
    }

    .nav-mobile-bottom-container {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .post-box {
        padding: 10px 0;
    }
}

@media only screen and (max-width: 460px) {
    .nav-top-right-search-box-inner {
        width: 250px;
    }

    .bottom-post-comment {
        display: none;
    }

    .middle-post-box {
        background-color: #000000;
        /* padding: 0 30px; */
        border-radius: 0;
        overflow: hidden;
    }

    .middle-post-box img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }
}